<div>
  <li id="cursor" class="list-group-item text-center list-group-item-action" routerLink="/addCandidato"><b>Aggiungi
      candidato</b></li>
  <div>
    <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
      placeholder="Filtra candidati..." />
  </div>
  <ul class="list-group">
    <li *ngFor="let anagrafica of anagraficas | filter: searchText" class="list-group-item">
      <div class="row">
        <div class="col-sm-9" routerLink="/candidati/{{anagrafica.id_candidato}}">
          <span><b>{{ anagrafica.nome }} {{ anagrafica.cognome }} </b></span><br>
          <span><i>email:</i> {{ anagrafica.email }} - <i>cellulare:</i> {{ anagrafica.cell }}</span>
        </div>
        <div class="col-sm-2">
        </div>
        <div class="col-sm-1 text-center">
          <img src="assets/round-delete-24px.svg" alt="×" (click)="deleteAnagr(anagrafica.id_candidato)">
        </div>
      </div>
    </li>
  </ul>
</div>  